<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css" integrity="sha384-6S9pWvRST96JI9QfL7ybd3Xv/Zz18mZ7ZisYmX46U59Ff04E5/P9q6q6" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.js" integrity="sha384-hR9S99Y8T6rXyk8mR8sOq6L4MogW3xIe6P8y12V5n6O8v3z4+P/X6r8r" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.js" integrity="sha384-Pd7V+6NshK8v6Uf6uM/H6P4uY6lI6L6M12z5n6O8v3z4+P/X6r8r" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/contrib/auto-render.min.js" integrity="sha384-43gviUU0Wof8/Lp4u9vXk5O4I4V4N4O6L4MogW3xIe6P8y12V5n6O8v3z4+P/X6r8r" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
